/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Syne:wght@600;700;800&display=swap');

body {
  background-color: #2ad4d9;
  background-image: url('./assets/gradiant-1.jpg');
}

h3 {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 10pt !important;
  color: white;
  text-transform: uppercase;
  margin-bottom: 4vw !important;
}

a {
  cursor: pointer;
}


/* NAV */
.nav {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 48px;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  z-index: 5000;
  backdrop-filter: blur(20px);
}

.navItem {
  flex-grow: 1;
  text-align: right;
}

.navItem a {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 10pt;
  color: white;
  text-transform: uppercase;
}
.navItem a:hover {
  /* color: #ffc740; */
}

.leftNavItem {
  text-align: left;
}

.navSpacer {
  flex-grow: 10;
}


/* HERO */
#hero {
  background-image: url('./assets/gradiant-1.jpg');
  background-size:100% 100%;
  width: 100vw;
  height: 880px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero .logo {
  width: 8.5vw;
  margin-bottom: 4.25vw;
}

#heroTitle {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 8.5vw;
  line-height: 6.5vw;
  color: white;
  text-transform: uppercase;
}

#rewind {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
#rewindOver {
  background-image: url('./assets/gradiant-1.jpg');
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  z-index: 100;
}
#rewindBehind {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  position: absolute;
  top: 0;
  z-index: 10;
}
#tagLine {
  /* width: 100vw;
  font-size: 100vw; */
  position: absolute;
  bottom: 0%;
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  /* background: red; */
  font-size: 4.37vw;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

/* IMAGES AND VIDEO */
.aboutImage {
  background-image: url('./assets/screenshots/screenshot-1.png');
  background-size:100% 100%;
}

/* CONTENT */
p {
  font-family: 'Inter', sans-serif;
  font-size: 13pt;
}

.contentSection a {
  color: #ffc740;
}

.contentSection {
  position: relative;
  background-color: black;
  border-top: 2px solid white;
  width: 100vw;
  /* padding-top: 300px; */
  color: white;
  padding-top: 14vw;
  padding-bottom: 14vw;
  display: flex;
}
.noPadding {
  padding-top: 0vw;
  padding-bottom: 0vw;
}
.smallerPadding {
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.oneThird {
  width: 33.33333vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}
.twoThird {
  width: 66.66666vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}
.oneHalf {
  width: 50vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}
.oneWhole {
  width: 100vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
  flex-direction: column;
}
.rightBorder {
  border-right: 2px solid white;
}
.fullbox {
  width: 100%;
  height: 100%;
}
.dontDisplay {
    display: none;
}
.transparent {
    opacity: 0.5;
}
.flex {
  display: flex;
}

/* buttons and links */
.teamLink {
  margin-left: 7px;
}
.bigLink {
  font-size: 15pt !important;
  font-family: 'Syne', sans-serif !important;
  font-weight: 600 !important;
  color: white !important;
  transition: color 0.16s ease;
}
.bigLink:hover {
  color: #ffa340 !important;
}

button {
  background-color: #ffc740 !important;
  padding: .75vw 1.5vw !important;
  font-size: 15pt !important;
  font-family: 'Syne', sans-serif !important;
  font-weight: 600 !important;
  color: white !important;
  border-radius: 3vw;
  transition: background-color 0.16s ease;
}
button:hover {
  background-color: #ffa340 !important;
}

/* COPY */
#copyWindow {
  background-color: #e3fede;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  border: 2px solid #d2d2d2;
  border-radius: 4px;
  padding: 2vw 2vw 2vw 2vw;
  width: 27vw;
  align-self: start;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#copyIcon {
  background-image: url('./assets/icons/copy.png');
  background-size:100% 100%;
  width: 20px;
  height: 20px;
  opacity: 40%;
  transition: opacity 0.10s ease;
  position: relative;
}

#copyBtnBox {
  position: relative;
}

#copyMesg {
  position: absolute;
  padding: 7px 7px;
  color: #000;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 10px;
  border: 2px solid #d2d2d2;
  width: 8vw;
  right:-3vw;
  top: -60px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.15s ease;
}

#copyMesg:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 3.25vw;
  border-width: 1vw .6vw 0;
  border-style: solid;
  border-color: #d2d2d2 transparent;
  display: block;
  width: 0;
}

#copyWindow:hover #copyIcon {
    opacity: 80%; 
}